# {{ ansible_managed }}

{% for ups in nut_ups %}
[{{ ups.name }}]
    driver = {{ ups.driver }}
    port   = {{ ups.device }}
    desc   = "{{ ups.description }}"
    {{ ups.extra | default('') | indent(4) }}
{% endfor %}

{% nut_ups_extra %}
