# {{ ansible_managed }}

{% if nut_ups_extra %}{{ nut_ups_extra }}{% endif %}

{% for ups in nut_ups %}
[{{ ups.name }}]
    driver = {{ ups.driver }}
    {% if ups.device is defined %}port = {{ ups.device }}{% endif +%}
    {% if ups.description is defined %}desc = "{{ ups.description }}"{% endif +%}
    {% if ups.extra is defined %}{{ ups.extra | indent(4) }}{% endif +%}
{% endfor %}
