# {{ ansible_managed }}

{% for ups in nut_ups %}
MONITOR {{ ups.name }}@{{ nut_host }} 1 {{ nut_user }} {{ nut_password }} master
{% endfor %}

{% if nut_upsmon_notifycmd %}
NOTIFYCMD {{ nut_upsmon_notifycmd }}
{% endif %}

{{ nut_upsmon_extra }}
