# {{ ansible_managed }}

{% for ups in nut_ups %}
MONITOR {{ ups.name }}@{{ nut_host }} {{ nut_powervalue }} {{ nut_user }} {{ nut_password }} {{ nut_role }}
{% endfor %}

{% if nut_upsmon_notifycmd is defined %}
NOTIFYCMD {{ nut_upsmon_notifycmd }}
{% endif %}

{{ nut_upsmon_extra }}
