# {{ ansible_managed }}

{% for ups in nut_ups %}
MONITOR {{ ups.name }}{% if nut_host %}@{{ nut_host }}{% endif %} {{ nut_powervalue }} {{ nut_upsmon_user }} {{ nut_upsmon_password }} {{ nut_upsmon_role }}
{% endfor %}

{% if nut_upsmon_notifycmd is defined %}
NOTIFYCMD {{ nut_upsmon_notifycmd }}
{% endif -%}

{% if nut_upsmon_extra %}{{ nut_upsmon_extra }}{% endif %}
